<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-2">Verify Your Mobile Number</h2>
                <form [formGroup]="verificationForm" class="align-self-center"(ngSubmit)="verifyLoginCode()"  >
                    <div class="form-group align-self-center m-2">
                        <label for="inputotp">Enter your Verification Code Here</label>
                       
                          <input type="text" class="form-control col col-12" id="inputotp" formControlName="otp"
                            [ngClass]="{'is-invalid': controlNameVerify.otp.errors && (controlNameVerify.otp.touched || controlNameVerify.otp.dirty), 'is-valid':controlNameVerify.otp.valid}"
                            placeholder="otp" appReplaceNumber >
                          <div *ngIf="controlNameVerify.otp.invalid &&  showError"
                            class="alert alert-danger">
                            <div *ngIf="controlNameVerify.otp.errors?.['required']">
                              OTP is required.
                            </div>
                            <div *ngIf="controlNameVerify.otp.errors?.['minlength'] || controlNameVerify.otp.errors?.['maxlength']">
                              OTP must be of 6 digit.
                            </div>
                          </div>
                        
                      </div>
                    
                       
               
                    
                  
                    <button type="submit" [disabled]="isSubmitting" class="btn btn-primary m-2">Submit</button>
                    
                  </form>