<main class="my-order-page">
    <div class="album py-5">
        <div class="container">

            <div class="d-flex align-items-center pb-3 mb-5 border-bottom">
                <span class="fs-2">My orders</span>
            </div>

            <div *ngIf="isLoading == true">
                <!-- <mat-spinner class="spinner"></mat-spinner> -->
            </div>

            <div class="text-center" *ngIf="orderDetail.length == 0">
                <h3>You haven't ordered anything yet.</h3>
            </div>

            <div *ngFor="let order of orderDetail| paginate
            : {
                itemsPerPage: itemsPerPage,
                currentPage: page,
                totalItems: totalItems
              }">
                <div class="card mx-auto" style="max-width: 800px;" id="htmlData" >
                    <div class="card-header">
                        <strong>Order # {{order.transactionId}}</strong> placed on {{order.transactionTime}}
                        <div class=" text-right justify-content-end">
                            <!-- <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button> -->
                            <mat-icon (click)="openPDF()" >download</mat-icon>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">ID: {{order.transactionId}}</h5>
                        <div *ngFor="let oi of order.orderedItems"  >
                           <div class="card " (click)="addReviews(oi.productId)">

                               <span class="d-flex ">
                                   <img class="item-image" style="width: 50px;"  [src]="oi?.pathToPic">
                                   <h3 class="card-text ">
                                       {{oi.productName}}: ₹{{oi.price}} × {{oi.quantity}} = ₹{{getItemTotalAmount(oi.price, oi.quantity)}}
                                    </h3>
                                </span>
                            </div>
                        </div>
                        <hr>
                        <strong>Sub-Total amount : ₹{{order.subTotalAmt}}</strong>
                        <hr> <strong>Total amount paid: ₹{{order.totalAmt}}</strong> (inclusive of 18 %GST)
                    </div>
                </div>
            </div>
            <div class="align-middle justify-content-center text-center" *ngIf="orderDetail.length > itemsPerPage" >
                <pagination-controls class="align-middle justify-content-center align-items-center m-3 "  previousLabel="Prev"
                nextLabel="Next"  (pageChange)="handlePageChange($event)"
                 ></pagination-controls>
            </div>
        </div>
    </div>
</main>