<mat-toolbar color="accent">
   
    <span>My App</span>
    <span class="example-spacer"></span>
    <span>
      <div class="input-group rounded ">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" id="search" #search
          aria-describedby="search-addon"  />
        <span class="input-group-text border-0" id="search-addon">
      
          <mat-icon>search</mat-icon>
        </span>
      </div>
    </span>
    <span class="example-spacer"></span>
    <span class="float-right justify-content-end ">

      <button (click)="homePage()">Home</button>
      <!-- <button (click)="menuPage()">Menu</button>
        (input)="onSearchQueryInput($event)"
      <button (click)="ordersPage()">Orders</button>
      <button *ngIf="authService.userRole === 'admin'" (click)="addFoodPage()">Add Food Item</button>
      <button *ngIf="authService.userRole === 'admin'" (click)="addChefPage()">Add Chef</button>
      <button (click)="changePassword()">Change Password</button> -->
      <button (click)="viewProfile()">View Profile</button>
      <button (click)="updateProfile()">Update Profile</button>
      <button (click)="signOut()">Log Out</button>
    </span>
  </mat-toolbar>
<router-outlet></router-outlet>