
  <div *ngIf="user">
    You have successfully logged in with your phone number!
  
    UserId: {{ user?.uid }}
  
  </div>


<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Sign In with Mobile Number</h2>
  <form [formGroup]="loginForm" class="align-self-center"(ngSubmit)="sendLoginCode()" [hidden]="displayOtpPage" >
     
      <div class="form-group align-self-center m-2">
        <label for="inputphone">Mobile Number</label>
        <input type="text" class="form-control col col-12" id="inputphone" formControlName="phone"
          [ngClass]="{'is-invalid': controlName.phone.errors && (controlName.phone.touched || controlName.phone.dirty), 'is-valid':controlName.phone.valid}"
          placeholder="Mobile Number" pattern="[0-9]*"
          oninput="this.value = this.value.replace(/[^0-9]/g, '')">
        <div *ngIf="controlName.phone.invalid &&  showError" class="alert alert-danger">
          <div *ngIf="controlName.phone.errors?.['required']">
            Mobile Number is required.
          </div>
          <div *ngIf="controlName.phone.errors?.['minlength']">
            Mobile Number must be 10 digit long.
          </div>
          <div *ngIf="controlName.phone.errors?.['pattern']">
            Enter valid Mobile Number.
          </div>
        </div>
         
        </div>
        <div id="recaptcha-container-3"  ></div>
    <div class="d-flex align-items-center justify-content-center pb-4" >

      <button type="submit" class="btn btn-primary m-2">Submit</button>
    </div>
      <div class="d-flex align-items-center justify-content-center pb-4">
        <p class="mb-0 me-2">Don't have an account?</p>
        <button type="button" class="btn btn-outline-danger" (click)="signUpPage()" >Create new</button>
      </div>
    </form>
    <form [formGroup]="verificationForm" class="align-self-center"(ngSubmit)="verifyLoginCode()" [hidden]="!displayOtpPage" >
        <div class="form-group align-self-center m-2">
            <label for="inputotp">Enter your Verification Code Here</label>
            <div class="d-flex">
              <input type="text" class="form-control col col-12" id="inputotp" formControlName="otp"
                [ngClass]="{'is-invalid': controlNameVerify.otp.errors && (controlNameVerify.otp.touched || controlNameVerify.otp.dirty), 'is-valid':controlNameVerify.otp.valid}"
                placeholder="otp" appReplaceNumber >
              <div *ngIf="controlNameVerify.otp.invalid &&  showError"
                class="alert alert-danger">
                <div *ngIf="controlNameVerify.otp.errors?.['required']">
                  OTP is required.
                </div>
              </div>
            </div>
          </div>
        
           
   
          <div id="recaptcha-container"></div>
      
        <button type="submit" class="btn btn-primary m-2">Submit</button>
        
      </form>
    <!-- <div *ngIf="windowRef.confirmationResult">
        <hr>
        <label for="code">Enter your Verification Code Here</label><br>
        <input type="text" name="code" [(ngModel)]="verificationCode">
    
        <button (click)="verifyLoginCode()">Verify</button>
      </div> -->

  </div>
  </div>
  </div>
  </div>
  </div>
  </div>